---
const { type, title, desc, img} = Astro.props;

const cardType = `${type}`;
---

<div class={cardType}>
    <img src={img} alt={title} />

    <div>
        <h3>{title}</h3>
        <p>{desc}</p>
    </div>

</div>

<!-- ------ Local style ------ -->

<style>
    .horizontal {
        flex-direction: row;
        align-items: center;
        gap: 15px;
        text-align: start;

        height: fit-content;
        max-width: 500px;
    }

    .horizontal div{
        height: fit-content;
        gap: 5px;
    }

    .horizontal img {
        object-fit: cover;
        width: 35%;
        height: 100%;
        border-radius: var(--card-roundness);
    }


    .vertical {
        gap: 10px;
        text-align: center;
        height: fit-content;
        max-width: 200px;
    }

    .vertical img {
        object-fit: cover;
        height: 20%;
        border-radius: var(--card-roundness);
    }


    .vertical-l {
        gap: 10px;
        text-align: center;
        height: fit-content;
        max-width: 400px;
    }

    .vertical-l img {
        object-fit: cover;
        max-height: 225px;
        border-radius: var(--card-roundness);
    }

</style>